
.w-1 { width: 1% !important; }
.w-2 { width: 2% !important; }
.w-3 { width: 3% !important; }
.w-4 { width: 4% !important; }
.w-5 { width: 5% !important; }
.w-6 { width: 6% !important; }
.w-7 { width: 7% !important; }
.w-8 { width: 8% !important; }
.w-9 { width: 9% !important; }
.w-10 { width: 10% !important; }
.w-11 { width: 11% !important; }
.w-12 { width: 12% !important; }
.w-13 { width: 13% !important; }
.w-14 { width: 14% !important; }
.w-15 { width: 15% !important; }
.w-16 { width: 16% !important; }
.w-17 { width: 17% !important; }
.w-18 { width: 18% !important; }
.w-19 { width: 19% !important; }
.w-20 { width: 20% !important; }
.w-21 { width: 21% !important; }
.w-22 { width: 22% !important; }
.w-23 { width: 23% !important; }
.w-23 { width: 23% !important; }
.w-24 { width: 24% !important; }
.w-25 { width: 25% !important; }
.w-26 { width: 26% !important; }
.w-27 { width: 27% !important; }
.w-28 { width: 28% !important; }
.w-29 { width: 29% !important; }
.w-30 { width: 30% !important; }
.w-31 { width: 31% !important; }
.w-32 { width: 32% !important; }
.w-33 { width: 33% !important; }
.w-34 { width: 34% !important; }
.w-35 { width: 35% !important; }
.w-36 { width: 36% !important; }
.w-37 { width: 37% !important; }
.w-38 { width: 38% !important; }
.w-39 { width: 39% !important; }
.w-40 { width: 40% !important; }
.w-41 { width: 41% !important; }
.w-42 { width: 42% !important; }
.w-43 { width: 43% !important; }
.w-44 { width: 44% !important; }
.w-45 { width: 45% !important; }
.w-46 { width: 46% !important; }
.w-47 { width: 47% !important; }
.w-48 { width: 48% !important; }
.w-49 { width: 49% !important; }
.w-50 { width: 50% !important; }
.w-51 { width: 51% !important; }
.w-52 { width: 52% !important; }
.w-53 { width: 53% !important; }
.w-54 { width: 54% !important; }
.w-55 { width: 55% !important; }
.w-56 { width: 56% !important; }
.w-57 { width: 57% !important; }
.w-58 { width: 58% !important; }
.w-59 { width: 59% !important; }
.w-60 { width: 60% !important; }
.w-51 { width: 51% !important; }
.w-52 { width: 52% !important; }
.w-53 { width: 53% !important; }
.w-54 { width: 54% !important; }
.w-55 { width: 55% !important; }
.w-56 { width: 56% !important; }
.w-57 { width: 57% !important; }
.w-58 { width: 58% !important; }
.w-59 { width: 59% !important; }
.w-60 { width: 60% !important; }
.w-61 { width: 61% !important; }
.w-62 { width: 62% !important; }
.w-63 { width: 63% !important; }
.w-64 { width: 64% !important; }
.w-65 { width: 65% !important; }
.w-66 { width: 66% !important; }
.w-67 { width: 67% !important; }
.w-68 { width: 68% !important; }
.w-69 { width: 69% !important; }
.w-70 { width: 70% !important; }
.w-71 { width: 71% !important; }
.w-72 { width: 72% !important; }
.w-73 { width: 73% !important; }
.w-74 { width: 74% !important; }
.w-75 { width: 75% !important; }
.w-76 { width: 76% !important; }
.w-77 { width: 77% !important; }
.w-78 { width: 78% !important; }
.w-79 { width: 79% !important; }
.w-80 { width: 80% !important; }
.w-81 { width: 81% !important; }
.w-82 { width: 82% !important; }
.w-83 { width: 83% !important; }
.w-84 { width: 84% !important; }
.w-85 { width: 85% !important; }
.w-86 { width: 86% !important; }
.w-87 { width: 87% !important; }
.w-88 { width: 88% !important; }
.w-89 { width: 89% !important; }
.w-90 { width: 90% !important; }
.w-91 { width: 91% !important; }
.w-92 { width: 92% !important; }
.w-93 { width: 93% !important; }
.w-94 { width: 94% !important; }
.w-95 { width: 95% !important; }
.w-96 { width: 96% !important; }
.w-97 { width: 97% !important; }
.w-98 { width: 98% !important; }
.w-99 { width: 99% !important; }
.w-100 { width: 100% !important; }


.fs01 { font-size: 0.1rem !important; }
.fs02 { font-size: 0.2rem !important; }
.fs03 { font-size: 0.3rem !important; }
.fs04 { font-size: 0.4rem !important; }
.fs05 { font-size: 0.5rem !important; }
.fs06 { font-size: 0.6rem !important; }
.fs07 { font-size: 0.7rem !important; }
.fs08 { font-size: 0.8rem !important; }
.fs09 { font-size: 0.9rem !important; }
.fs10 { font-size: 1rem !important; }
.fs11 { font-size: 1.1rem !important; }
.fs12 { font-size: 1.2rem !important; }
.fs13 { font-size: 1.3rem !important; }
.fs14 { font-size: 1.4rem !important; }
.fs15 { font-size: 1.5rem !important; }
.fs16 { font-size: 1.6rem !important; }
.fs17 { font-size: 1.7rem !important; }
.fs18 { font-size: 1.8rem !important; }
.fs19 { font-size: 1.9rem !important; }
.fs20 { font-size: 2rem !important; }
.fs21 { font-size: 2.1rem !important; }
.fs22 { font-size: 2.2rem !important; }
.fs23 { font-size: 2.3rem !important; }
.fs24 { font-size: 2.4rem !important; }
.fs25 { font-size: 2.5rem !important; }
.fs26 { font-size: 2.6rem !important; }
.fs27 { font-size: 2.7rem !important; }
.fs28 { font-size: 2.8rem !important; }
.fs29 { font-size: 2.9rem !important; }
.fs30 { font-size: 3rem !important; }
.fs31 { font-size: 3.1rem !important; }
.fs32 { font-size: 3.2rem !important; }
.fs33 { font-size: 3.3rem !important; }
.fs34 { font-size: 3.4rem !important; }
.fs35 { font-size: 3.5rem !important; }
.fs36 { font-size: 3.6rem !important; }
.fs37 { font-size: 3.7rem !important; }
.fs38 { font-size: 3.8rem !important; }
.fs39 { font-size: 3.9rem !important; }
.fs40 { font-size: 4rem !important; }
.fs41 { font-size: 4.1rem !important; }
.fs42 { font-size: 4.2rem !important; }
.fs43 { font-size: 4.3rem !important; }
.fs44 { font-size: 4.4rem !important; }
.fs45 { font-size: 4.5rem !important; }
.fs46 { font-size: 4.6rem !important; }
.fs47 { font-size: 4.7rem !important; }
.fs48 { font-size: 4.8rem !important; }
.fs49 { font-size: 4.9rem !important; }
.fs50 { font-size: 5rem !important; }

.fw100 { font-weight: 100 !important; }
.fw200 { font-weight: 200 !important; }
.fw300 { font-weight: 300 !important; }
.fw400 { font-weight: 400 !important; }
.fw500 { font-weight: 500 !important; }
.fw600 { font-weight: 600 !important; }
.fw700 { font-weight: 700 !important; }
.fw800 { font-weight: 800 !important; }
.fw900 { font-weight: 900 !important; }

.t-1 { top: 1% !important; }
.t-2 { top: 2% !important; }
.t-3 { top: 3% !important; }
.t-4 { top: 4% !important; }
.t-5 { top: 5% !important; }
.t-6 { top: 6% !important; }
.t-7 { top: 7% !important; }
.t-8 { top: 8% !important; }
.t-9 { top: 9% !important; }
.t-10 { top: 10% !important; }
.t-11 { top: 11% !important; }
.t-12 { top: 12% !important; }
.t-13 { top: 13% !important; }
.t-14 { top: 14% !important; }
.t-15 { top: 15% !important; }
.t-16 { top: 16% !important; }
.t-17 { top: 17% !important; }
.t-18 { top: 18% !important; }
.t-19 { top: 19% !important; }
.t-20 { top: 20% !important; }

.b-1 { bottom: 1% !important; }
.b-2 { bottom: 2% !important; }
.b-3 { bottom: 3% !important; }
.b-4 { bottom: 4% !important; }
.b-5 { bottom: 5% !important; }
.b-6 { bottom: 6% !important; }
.b-7 { bottom: 7% !important; }
.b-8 { bottom: 8% !important; }
.b-9 { bottom: 9% !important; }
.b-10 { bottom: 10% !important; }
.b-11 { bottom: 11% !important; }
.b-12 { bottom: 12% !important; }
.b-13 { bottom: 13% !important; }
.b-14 { bottom: 14% !important; }
.b-15 { bottom: 15% !important; }
.b-16 { bottom: 16% !important; }
.b-17 { bottom: 17% !important; }
.b-18 { bottom: 18% !important; }
.b-19 { bottom: 19% !important; }
.b-20 { bottom: 20% !important; }

.l-1 { left: 1% !important; }
.l-2 { left: 2% !important; }
.l-3 { left: 3% !important; }
.l-4 { left: 4% !important; }
.l-5 { left: 5% !important; }
.l-6 { left: 6% !important; }
.l-7 { left: 7% !important; }
.l-8 { left: 8% !important; }
.l-9 { left: 9% !important; }
.l-10 { left: 10% !important; }
.l-11 { left: 11% !important; }
.l-12 { left: 12% !important; }
.l-13 { left: 13% !important; }
.l-14 { left: 14% !important; }
.l-15 { left: 15% !important; }
.l-16 { left: 16% !important; }
.l-17 { left: 17% !important; }
.l-18 { left: 18% !important; }
.l-19 { left: 19% !important; }
.l-20 { left: 20% !important; }

.r-1 { right: 1% !important; }
.r-2 { right: 2% !important; }
.r-3 { right: 3% !important; }
.r-4 { right: 4% !important; }
.r-5 { right: 5% !important; }
.r-6 { right: 6% !important; }
.r-7 { right: 7% !important; }
.r-8 { right: 8% !important; }
.r-9 { right: 9% !important; }
.r-10 { right: 10% !important; }
.r-11 { right: 11% !important; }
.r-12 { right: 12% !important; }
.r-13 { right: 13% !important; }
.r-14 { right: 14% !important; }
.r-15 { right: 15% !important; }
.r-16 { right: 16% !important; }
.r-17 { right: 17% !important; }
.r-18 { right: 18% !important; }
.r-19 { right: 19% !important; }
.r-20 { right: 20% !important; }

.mt--1 { margin-top: -1% !important; }
.mt--2 { margin-top: -2% !important; }
.mt--3 { margin-top: -3% !important; }
.mt--4 { margin-top: -4% !important; }
.mt--5 { margin-top: -5% !important; }
.mt--6 { margin-top: -6% !important; }
.mt--7 { margin-top: -7% !important; }
.mt--8 { margin-top: -8% !important; }
.mt--9 { margin-top: -9% !important; }
.mt--10 { margin-top: -10% !important; }
.mt--11 { margin-top: -11% !important; }
.mt--12 { margin-top: -12% !important; }
.mt--13 { margin-top: -13% !important; }
.mt--14 { margin-top: -14% !important; }
.mt--15 { margin-top: -15% !important; }
.mt--16 { margin-top: -16% !important; }
.mt--17 { margin-top: -17% !important; }
.mt--18 { margin-top: -18% !important; }
.mt--19 { margin-top: -19% !important; }
.mt--20 { margin-top: -20% !important; }

.mb--1 { margin-bottom: -1% !important; }
.mb--2 { margin-bottom: -2% !important; }
.mb--3 { margin-bottom: -3% !important; }
.mb--4 { margin-bottom: -4% !important; }
.mb--5 { margin-bottom: -5% !important; }
.mb--6 { margin-bottom: -6% !important; }
.mb--7 { margin-bottom: -7% !important; }
.mb--8 { margin-bottom: -8% !important; }
.mb--9 { margin-bottom: -9% !important; }
.mb--10 { margin-bottom: -10% !important; }
.mb--11 { margin-bottom: -11% !important; }
.mb--12 { margin-bottom: -12% !important; }
.mb--13 { margin-bottom: -13% !important; }
.mb--14 { margin-bottom: -14% !important; }
.mb--15 { margin-bottom: -15% !important; }
.mb--16 { margin-bottom: -16% !important; }
.mb--17 { margin-bottom: -17% !important; }
.mb--18 { margin-bottom: -18% !important; }
.mb--19 { margin-bottom: -19% !important; }
.mb--20 { margin-bottom: -20% !important; }

.ml--1 { margin-left: -1% !important; }
.ml--2 { margin-left: -2% !important; }
.ml--3 { margin-left: -3% !important; }
.ml--4 { margin-left: -4% !important; }
.ml--5 { margin-left: -5% !important; }
.ml--6 { margin-left: -6% !important; }
.ml--7 { margin-left: -7% !important; }
.ml--8 { margin-left: -8% !important; }
.ml--9 { margin-left: -9% !important; }
.ml--10 { margin-left: -10% !important; }
.ml--11 { margin-left: -11% !important; }
.ml--12 { margin-left: -12% !important; }
.ml--13 { margin-left: -13% !important; }
.ml--14 { margin-left: -14% !important; }
.ml--15 { margin-left: -15% !important; }
.ml--16 { margin-left: -16% !important; }
.ml--17 { margin-left: -17% !important; }
.ml--18 { margin-left: -18% !important; }
.ml--19 { margin-left: -19% !important; }
.ml--20 { margin-left: -20% !important; }

.mr--1 { margin-right: -1% !important; }
.mr--2 { margin-right: -2% !important; }
.mr--3 { margin-right: -3% !important; }
.mr--4 { margin-right: -4% !important; }
.mr--5 { margin-right: -5% !important; }
.mr--6 { margin-right: -6% !important; }
.mr--7 { margin-right: -7% !important; }
.mr--8 { margin-right: -8% !important; }
.mr--9 { margin-right: -9% !important; }
.mr--10 { margin-right: -10% !important; }
.mr--11 { margin-right: -11% !important; }
.mr--12 { margin-right: -12% !important; }
.mr--13 { margin-right: -13% !important; }
.mr--14 { margin-right: -14% !important; }
.mr--15 { margin-right: -15% !important; }
.mr--16 { margin-right: -16% !important; }
.mr--17 { margin-right: -17% !important; }
.mr--18 { margin-right: -18% !important; }
.mr--19 { margin-right: -19% !important; }
.mr--20 { margin-right: -20% !important; }

.float-left { float: left !important; }
.float-right { float: right !important; }

.rounded0 { border-radius: 0px !important; }
.rounded1 { border-radius: 1px !important; }
.rounded2 { border-radius: 2px !important; }
.rounded3 { border-radius: 3px !important; }
.rounded4 { border-radius: 4px !important; }
.rounded5 { border-radius: 5px !important; }
.rounded6 { border-radius: 6px !important; }
.rounded7 { border-radius: 7px !important; }
.rounded8 { border-radius: 8px !important; }
.rounded9 { border-radius: 9px !important; }
.rounded10 { border-radius: 10px !important; }
.rounded11 { border-radius: 11px !important; }
.rounded12 { border-radius: 12px !important; }
.rounded13 { border-radius: 13px !important; }
.rounded14 { border-radius: 14px !important; }
.rounded15 { border-radius: 15px !important; }
.rounded16 { border-radius: 16px !important; }
.rounded17 { border-radius: 17px !important; }
.rounded18 { border-radius: 18px !important; }
.rounded19 { border-radius: 19px !important; }
.rounded20 { border-radius: 20px !important; }
.rounded21 { border-radius: 21px !important; }
.rounded22 { border-radius: 22px !important; }
.rounded23 { border-radius: 23px !important; }
.rounded24 { border-radius: 24px !important; }
.rounded25 { border-radius: 25px !important; }
.rounded26 { border-radius: 26px !important; }
.rounded27 { border-radius: 27px !important; }
.rounded28 { border-radius: 28px !important; }
.rounded29 { border-radius: 29px !important; }
.rounded30 { border-radius: 30px !important; }

.roundedtl-0 { border-top-left-radius: 0px !important; }
.roundedtl-1 { border-top-left-radius: 1px !important; }
.roundedtl-2 { border-top-left-radius: 2px !important; }
.roundedtl-3 { border-top-left-radius: 3px !important; }
.roundedtl-4 { border-top-left-radius: 4px !important; }
.roundedtl-5 { border-top-left-radius: 5px !important; }
.roundedtl-6 { border-top-left-radius: 6px !important; }
.roundedtl-7 { border-top-left-radius: 7px !important; }
.roundedtl-8 { border-top-left-radius: 8px !important; }
.roundedtl-9 { border-top-left-radius: 9px !important; }
.roundedtl-10 { border-top-left-radius: 10px !important; }
.roundedtl-11 { border-top-left-radius: 11px !important; }
.roundedtl-12 { border-top-left-radius: 12px !important; }
.roundedtl-13 { border-top-left-radius: 13px !important; }
.roundedtl-14 { border-top-left-radius: 14px !important; }
.roundedtl-15 { border-top-left-radius: 15px !important; }
.roundedtl-16 { border-top-left-radius: 16px !important; }
.roundedtl-17 { border-top-left-radius: 17px !important; }
.roundedtl-18 { border-top-left-radius: 18px !important; }
.roundedtl-19 { border-top-left-radius: 19px !important; }
.roundedtl-20 { border-top-left-radius: 20px !important; }
.roundedtl-21 { border-top-left-radius: 21px !important; }
.roundedtl-22 { border-top-left-radius: 22px !important; }
.roundedtl-23 { border-top-left-radius: 23px !important; }
.roundedtl-24 { border-top-left-radius: 24px !important; }
.roundedtl-25 { border-top-left-radius: 25px !important; }
.roundedtl-26 { border-top-left-radius: 26px !important; }
.roundedtl-27 { border-top-left-radius: 27px !important; }
.roundedtl-28 { border-top-left-radius: 28px !important; }
.roundedtl-29 { border-top-left-radius: 29px !important; }
.roundedtl-30 { border-top-left-radius: 30px !important; }

.roundedtr-0 { border-top-right-radius: 0px !important; }
.roundedtr-1 { border-top-right-radius: 1px !important; }
.roundedtr-2 { border-top-right-radius: 2px !important; }
.roundedtr-3 { border-top-right-radius: 3px !important; }
.roundedtr-4 { border-top-right-radius: 4px !important; }
.roundedtr-5 { border-top-right-radius: 5px !important; }
.roundedtr-6 { border-top-right-radius: 6px !important; }
.roundedtr-7 { border-top-right-radius: 7px !important; }
.roundedtr-8 { border-top-right-radius: 8px !important; }
.roundedtr-9 { border-top-right-radius: 9px !important; }
.roundedtr-10 { border-top-right-radius: 10px !important; }
.roundedtr-11 { border-top-right-radius: 11px !important; }
.roundedtr-12 { border-top-right-radius: 12px !important; }
.roundedtr-13 { border-top-right-radius: 13px !important; }
.roundedtr-14 { border-top-right-radius: 14px !important; }
.roundedtr-15 { border-top-right-radius: 15px !important; }
.roundedtr-16 { border-top-right-radius: 16px !important; }
.roundedtr-17 { border-top-right-radius: 17px !important; }
.roundedtr-18 { border-top-right-radius: 18px !important; }
.roundedtr-19 { border-top-right-radius: 19px !important; }
.roundedtr-20 { border-top-right-radius: 20px !important; }
.roundedtr-21 { border-top-right-radius: 21px !important; }
.roundedtr-22 { border-top-right-radius: 22px !important; }
.roundedtr-23 { border-top-right-radius: 23px !important; }
.roundedtr-24 { border-top-right-radius: 24px !important; }
.roundedtr-25 { border-top-right-radius: 25px !important; }
.roundedtr-26 { border-top-right-radius: 26px !important; }
.roundedtr-27 { border-top-right-radius: 27px !important; }
.roundedtr-28 { border-top-right-radius: 28px !important; }
.roundedtr-29 { border-top-right-radius: 29px !important; }
.roundedtr-30 { border-top-right-radius: 30px !important; }

.roundedbl-0 { border-bottom-left-radius: 0px !important; }
.roundedbl-1 { border-bottom-left-radius: 1px !important; }
.roundedbl-2 { border-bottom-left-radius: 2px !important; }
.roundedbl-3 { border-bottom-left-radius: 3px !important; }
.roundedbl-4 { border-bottom-left-radius: 4px !important; }
.roundedbl-5 { border-bottom-left-radius: 5px !important; }
.roundedbl-6 { border-bottom-left-radius: 6px !important; }
.roundedbl-7 { border-bottom-left-radius: 7px !important; }
.roundedbl-8 { border-bottom-left-radius: 8px !important; }
.roundedbl-9 { border-bottom-left-radius: 9px !important; }
.roundedbl-10 { border-bottom-left-radius: 10px !important; }
.roundedbl-11 { border-bottom-left-radius: 11px !important; }
.roundedbl-12 { border-bottom-left-radius: 12px !important; }
.roundedbl-13 { border-bottom-left-radius: 13px !important; }
.roundedbl-14 { border-bottom-left-radius: 14px !important; }
.roundedbl-15 { border-bottom-left-radius: 15px !important; }
.roundedbl-16 { border-bottom-left-radius: 16px !important; }
.roundedbl-17 { border-bottom-left-radius: 17px !important; }
.roundedbl-18 { border-bottom-left-radius: 18px !important; }
.roundedbl-19 { border-bottom-left-radius: 19px !important; }
.roundedbl-20 { border-bottom-left-radius: 20px !important; }
.roundedbl-21 { border-bottom-left-radius: 21px !important; }
.roundedbl-22 { border-bottom-left-radius: 22px !important; }
.roundedbl-23 { border-bottom-left-radius: 23px !important; }
.roundedbl-24 { border-bottom-left-radius: 24px !important; }
.roundedbl-25 { border-bottom-left-radius: 25px !important; }
.roundedbl-26 { border-bottom-left-radius: 26px !important; }
.roundedbl-27 { border-bottom-left-radius: 27px !important; }
.roundedbl-28 { border-bottom-left-radius: 28px !important; }
.roundedbl-29 { border-bottom-left-radius: 29px !important; }
.roundedbl-30 { border-bottom-left-radius: 30px !important; }

.roundedbr-0 { border-bottom-right-radius: 0px !important; }
.roundedbr-1 { border-bottom-right-radius: 1px !important; }
.roundedbr-2 { border-bottom-right-radius: 2px !important; }
.roundedbr-3 { border-bottom-right-radius: 3px !important; }
.roundedbr-4 { border-bottom-right-radius: 4px !important; }
.roundedbr-5 { border-bottom-right-radius: 5px !important; }
.roundedbr-6 { border-bottom-right-radius: 6px !important; }
.roundedbr-7 { border-bottom-right-radius: 7px !important; }
.roundedbr-8 { border-bottom-right-radius: 8px !important; }
.roundedbr-9 { border-bottom-right-radius: 9px !important; }
.roundedbr-10 { border-bottom-right-radius: 10px !important; }
.roundedbr-11 { border-bottom-right-radius: 11px !important; }
.roundedbr-12 { border-bottom-right-radius: 12px !important; }
.roundedbr-13 { border-bottom-right-radius: 13px !important; }
.roundedbr-14 { border-bottom-right-radius: 14px !important; }
.roundedbr-15 { border-bottom-right-radius: 15px !important; }
.roundedbr-16 { border-bottom-right-radius: 16px !important; }
.roundedbr-17 { border-bottom-right-radius: 17px !important; }
.roundedbr-18 { border-bottom-right-radius: 18px !important; }
.roundedbr-19 { border-bottom-right-radius: 19px !important; }
.roundedbr-20 { border-bottom-right-radius: 20px !important; }
.roundedbr-21 { border-bottom-right-radius: 21px !important; }
.roundedbr-22 { border-bottom-right-radius: 22px !important; }
.roundedbr-23 { border-bottom-right-radius: 23px !important; }
.roundedbr-24 { border-bottom-right-radius: 24px !important; }
.roundedbr-25 { border-bottom-right-radius: 25px !important; }
.roundedbr-26 { border-bottom-right-radius: 26px !important; }
.roundedbr-27 { border-bottom-right-radius: 27px !important; }
.roundedbr-28 { border-bottom-right-radius: 28px !important; }
.roundedbr-29 { border-bottom-right-radius: 29px !important; }
.roundedbr-30 { border-bottom-right-radius: 30px !important; }

.border-none { border: none !important; }

.list-none { list-style: none !important; }

.text-al-center { text-align-last: center !important; }

.hidden { display: none !important; }